<div class='row'>
  <div class='columns small-6 small-centered'>
    <% if @payment_method.persisted? %>
      <h3><%= t('text.models.payment_method.titles.edit') %></h3>
    <% else %>
      <h3><%= t('text.models.payment_method.titles.new') %></h3>
    <% end %>
  </div>

  <%= render 'shared/errors', record: @payment_method %>

  <%= form_for @payment_method do |f| %>
    <%= render 'fields', f: f %>

    <div class='columns small-6 small-centered'>
      <% if @payment_method.persisted? %>
        <%= f.submit t('forms.models.payment_method.update'), class: 'button' %>
      <% else %>
        <%= f.submit t('forms.models.payment_method.create'), class: 'button' %>
      <% end %>
    </div>
  <% end %>
</div>
