<div class='row'>
  <div class='columns small-6 small-centered'>
    <h3><%= t('text.models.password_reset.titles.new') %></h3>
  </div>

  <%= render 'shared/errors', record: @password_reset %>

  <%= form_for @password_reset do |f| %>
    <div class='columns small-6 small-centered'>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class='columns small-6 small-centered'>
      <%= f.submit t('forms.models.password_reset.new'), class: 'button' %>
    </div>
  <% end %>
</div>
