<div class='row'>
  <div id='join_session' class='columns small-6 small-centered'>
    <center>
      <% if @group_session.ready_to_start? %>
        <%= image_tag 'spinner.gif' %><br>
        <%= t('text.models.group_session.waiting_to_start') %>
      <% else %>
        <%= t('text.models.group_session.check_here') %>
      <% end %>
    </center>
  </div>
</div>

<script>
  $(function() {
    <% pusher_options = { authEndpoint: messenger_auth_path } %>

    <% unless Rails.env.production? %>
      Pusher.log = function(message) {
        if (window.console && window.console.log) {
          window.console.log(message);
        }
      };
    <% end %>

    var pusher = <% if defined?(PusherFake) %>
                   <%= PusherFake.javascript(pusher_options).html_safe %>
                 <% else %>
                   new Pusher("<%= ENV['PUSHER_KEY'] %>", <%= pusher_options.to_json.html_safe %>)
                 <% end %>,
        channel = pusher.subscribe('<%= Messenger.channel_id(@group_session) %>');

    channel.bind('session_is_live', function(data) {
      var $link = $('<a></a>')
                  .text("<%= t('links.models.group_session.join_live_session_now') %>")
                  .attr('href', data.url);

      if (data.url !== undefined) {
        $('#join_session').html($link);
      }
    });
  });
</script>
