<div class='panel radius columns small-6 small-centered'>
  <dl>
    <dt><%= t('text.models.group_session.title') %></dt>
    <dd><%= group_session.title %></dd>
    <dt><%= t('text.models.group_session.hosted_by') %></dt>
    <dd><%= group_session.host_name %></dd>
    <dt><%= t('text.models.group_session.starts_at') %></dt>
    <dd><%= group_session.starts_at.strftime('%A, %B %e, %Y at %l:%M%P') %></dd>
    <dt><%= t('text.models.group_session.description') %></dt>
    <dd><%= group_session.description %></dd>
  </dl>
</div>
