<header class='group_session_info columns small-6'>
  <h1 class='group_session_info_title'>
    <% if request.fullpath == group_session_path(group_session) %>
      <%= group_session.title %>
    <% else %>
      <%= link_to group_session.title, group_session_path(group_session) %>
    <% end %>
  </h1>

  <time datetime='<%= group_session.starts_at %>'>
    <span class='group_session_meta_date'>
      <%= group_session.starts_at.to_s %>
    </span>
  </time>

  <small class='group_session_host_name'>
    <%= t('text.models.group_session.with') %>
    <%= group_session.host_name %>
  </small>

  <% unless request.fullpath == group_session_path(group_session)%>
    <span class='group_session_info_description'>
      <%= truncate(group_session.description, length: 125) %>
    </span>
  <% end %>
</header>
