<%= render 'group_session', group_session: @group_session %>

<% if @group_session.host == current_user %>
  <%= render 'start_hangout_button', group_session: @group_session %>

  <div class='row'>
    <div class='columns small-12'>
      <%= link_to t('links.models.group_session.edit'),
                  edit_group_session_path(@group_session) %>
    </div>
  </div>
<% end %>

<% if @group_session.booked_by?(current_user) %>
  <% if @group_session.live_details_ready? %>
    <%= render 'live_details', group_session: @group_session %>
  <% else %>
    <%= render 'pusher' %>
  <% end %>
<% end %>
