<div class='row'>
  <div class='columns small-6 small-centered'>
    <h3><%= t('text.models.signup.new') %></h3>
  </div>

  <%= render 'shared/errors', record: @signup %>

  <%= form_for @signup do |f| %>
    <%= render 'accounts/name_fields', f: f %>
    <%= render 'accounts/email_field', f: f %>
    <%= render 'accounts/password_fields', f: f %>

    <div class='columns small-6 small-centered'>
      <%= f.submit t('forms.models.signup.create'), class: 'button' %>
      or <%= link_to t('links.models.signin.new'), signin_path, class: 'aux' %>
    </div>
  <% end %>
</div>
