<div class='row'>
  <div class='columns small-6 small-centered'>
    <h3><%= t('text.models.signup.new') %></h3>
  </div>

  <%= render 'shared/errors', record: @signup %>

  <%= form_for @signup do |f| %>
    <div class='columns small-6 small-centered'>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class='columns small-6 small-centered'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class='columns small-6 small-centered'>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class='columns small-6 small-centered'>
      <%= f.submit t('forms.models.signup.create'), class: 'button' %>
      or <%= link_to t('links.models.signin.new'), signin_path %>
    </div>
  <% end %>
</div>
