<div class='row'>
  <%= form_for @signin do |f| %>
    <div class='columns small-6 small-centered'>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class='columns small-6 small-centered'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class='columns small-6 small-centered'>
      <%= f.submit t('forms.models.signin.create'), class: 'button' %>
    </div>
  <% end %>
</div>
