<div class='row'>
  <div class='columns small-6 small-centered'>
    <h3><%= t('text.models.signin.new') %></h3>
  </div>

  <%= form_for @signin do |f| %>
    <div class='columns small-6 small-centered'>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class='columns small-6 small-centered'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class='columns small-6 small-centered'>
      <%= check_box_tag :remember_me %>
      <%= label_tag :remember_me %>
    </div>

    <div class='columns small-6 small-centered'>
      <%= f.submit t('forms.models.signin.create'), class: 'button' %>
      or <%= link_to t('links.models.signup.new'), signup_path, class: 'aux' %>
    </div>
  <% end %>
</div>
