<div class='row'>
  <div class='columns small-6 small-centered'>
    <h4><%= t('text.models.payment.titles.new') %></h4>
  </div>

  <%= render 'group_sessions/summary', group_session: @group_session %>

  <%= render 'shared/errors', record: @payment %>

  <%= form_for @payment do |f| %>
    <%= f.hidden_field :group_session_id, value: @group_session.id %>

    <div id='existing-payment-method'>
      <%= render 'existing_payment_method', f: f,
                                            payment_methods: @payment_methods %>
      <%= render 'confirm_charge', f: f, group_session: @group_session %>
    </div>

    <div id='new-payment-method'>
      <%= render 'new_payment_method', f: f %>
      <%= render 'confirm_charge', f: f, group_session: @group_session %>
    </div>
  <% end %>
</div>
