<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      <%= content_for?(:title) ? yield(:title) : t('application.title') %>
    </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= rehearsal_banner "Jamby 1.0 Staging" %>
    <%= render 'shared/header' %>

    <div id='flash_messages' class='row'>
      <div class='columns small-12'>
        <%= render 'shared/flash_messages' %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
