<div class='row'>
  <div class='columns small-12'>
    <dl>
      <dt><%= t('text.models.account.name') %></dt>
      <dd><%= @account.name %></dd>
      <dt><%= t('text.models.account.email') %></dt>
      <dd><%= @account.email %></dd>
      <dt><%= t('text.models.account.time_zone') %></dt>
      <dd><%= @account.time_zone %></dd>
    </dl>

    <p><%= link_to t('links.models.account.edit'), edit_account_path %></p>
  </div>
</div>

<div class='row'>
  <%= render @account.payment_methods %>

  <div class='columns small-12'>
    <p><%= link_to t('links.models.payment_method.new'),
                   new_payment_method_path %></p>
  </div>
</div>

<div class='row'>
  <div class='columns small-12'>
    <p><%= link_to t('links.models.account.destroy'), @account, method: :delete,
                   data: {
                     confirm: t('controllers.accounts.destroy.confirm')
                   } %></p>
  </div>
</div>
